@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* ใส่ชื่อไฟล์รูปของคุณ และปรับจุดศูนย์กลางของเมาส์ (เช่น 16 16) */
  cursor:
    url("/src/assets/mouse.svg") 0 0,
    auto;
  -ms-overflow-style: none; /* สำหรับ Internet Explorer และ Edge */
  scrollbar-width: none; /* สำหรับ Firefox */
}

body::-webkit-scrollbar {
  display: none; /* สำหรับ Chrome, Safari และ Opera */
}

/* ถ้าอยากให้ตอนชี้ปุ่มหรือลิงก์เปลี่ยนเป็นอีกลาย */
a,
button {
  cursor:
    url("/src/assets/mouse.svg") 0 0,
    pointer;
}
